Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Refactor encoding (#588)
  ehrapy/anndata/anndata_ext.py
  ehrapy/logging.py
  ehrapy/preprocessing/_encode.py
  pyproject.toml
  tests/anndata/test_anndata_ext.py
  tests/io/test_read.py
  tests/preprocessing/test_encode.py
  tests/preprocessing/test_expand_measurements.py
  tests/preprocessing/test_imputation.py
  tests/preprocessing/test_normalization.py
  tests/preprocessing/test_outliers.py
  tests/preprocessing/test_quality_control.py
  tests/tools/causal/test_dowhy.py
  tests/tools/nlp/test_translator.py
  tests/tools/test_features_ranking.py
  tests/tools/test_sa.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix DataFrame naming
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

small edits
  docs/installation.md
  docs/usage/usage.md
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

think should fix pp encode docstring examples
  ehrapy/preprocessing/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

docstring typos
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_scanpy_pp_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

the : after first sentence of Returns appears to overwrite and misplace Return Type so make a ; instead
  ehrapy/preprocessing/_scanpy_pp_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

readability improvement but not consistent fix of pp.pca docstring
  ehrapy/preprocessing/_scanpy_pp_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

readability improvement of louvain. might make more consistent alltogether?
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

: interfered with Return Type formating so removed here to improve readability
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

enforced changes by black
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/_scanpy_pp_api.py
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

initial commit
  ehrapy/tools/xgboost/__init__.py
  ehrapy/tools/xgboost/_xgboost.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Small edits (#599)
  docs/installation.md
  docs/usage/usage.md
  ehrapy/data/_datasets.py
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_scanpy_pp_api.py
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Switch to ruff-format
  .pre-commit-config.yaml
  docs/conf.py
  ehrapy/io/_read.py
  ehrapy/plot/_scanpy_pl_api.py
  ehrapy/preprocessing/_encode.py
  ehrapy/tools/nlp/_translators.py
  tests/preprocessing/test_quality_control.py
  tests/tools/nlp/test_translator.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove traceback
  ehrapy/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Summarize measurements to docs
  docs/usage/usage.md
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_summarize_measurements.py
  tests/preprocessing/test_expand_measurements.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Dependencies
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

medcat to doc dependencies
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

medcat dependency
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Update README.md
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Remove cookietemple reference
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add classifiers
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Remove wrong classifier
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Fix tests
  docs/usage/usage.md
  ehrapy/plot/_scanpy_pl_api.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed KNN docs rendering
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Readd iterative_imputer import
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed types
  ehrapy/anndata/anndata_ext.py
  ehrapy/io/_read.py
  ehrapy/io/_write.py
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_imputation.py
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  docs/usage/usage.md
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/_imputation.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_outliers.py
  ehrapy/tools/__init__.py
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/feature_ranking/_rank_features_groups.py
  ehrapy/tools/nlp/_translators.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Many test warnings
  ehrapy/anndata/anndata_ext.py
  ehrapy/core/meta_information.py
  ehrapy/io/_read.py
  tests/anndata/test_anndata_ext.py
  tests/io/__init__.py
  tests/io/test_read.py
  tests/preprocessing/__init__.py
  tests/preprocessing/test_encode.py
  tests/preprocessing/test_quality_control.py
  tests/tools/test_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove prettierignore
  .prettierignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Removed unused dependencies
  ehrapy/core/meta_information.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Removed unused dependencies (#615)
  ehrapy/core/meta_information.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove scikit-learn-intelex from required dependencies
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

tests for rank features groups with obs
  tests/tools/test_data_features_ranking/dataset1.csv
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

first drafted feature ranking using obs
  ehrapy/tools/feature_ranking/_rank_features_groups.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fixed encoding names
  ehrapy/tools/feature_ranking/_rank_features_groups.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
