Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

merge conflicts
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

removed unwanted changes
  .pre-commit-config.yaml
  docs/conf.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[Feature] Set index column #305
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Improve comment wording
  ehrapy/io/_write.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

PR feedback
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[Feature] New read API #263
  ehrapy/data/_datasets.py
  ehrapy/io/__init__.py
  ehrapy/io/_read.py
  ehrapy/io/_utility_io.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

drafting qc_lab_measurements
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/laboratory_reference_tables/laposata.tsv
  poetry.lock
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add SoftImpute and IterativeSVD to imputation
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_data_imputation.py
  pyproject.toml
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

update
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Update _data_imputation.py
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed reading multiple h5ad files + Updated docs
  docs/usage/api.rst
  docs/usage/io/ehrapy.io.read.rst
  docs/usage/io/ehrapy.io.read_csv.rst
  docs/usage/io/ehrapy.io.read_h5ad.rst
  docs/usage/io/ehrapy.io.read_pdf.rst
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added tests + updated tests for read API
  ehrapy/io/_read.py
  ehrapy/io/_utility_io.py
  tests/anndata/test_anndata_ext.py
  tests/io/test_read.py
  tests/preprocessing/test_encode.py
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

test files
  tests/io/test_data_io_multiple/dataset8.csv
  tests/io/test_data_io_multiple/dataset9.csv
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

renaming test files and added h5ad test files
  tests/anndata/test_anndata_ext.py
  tests/io/test_data_io/dataset_basic.csv
  tests/io/test_data_io/dataset_bools_and_str.csv
  tests/io/test_data_io/dataset_index.csv
  tests/io/test_data_io/dataset_move_obs_mix.csv
  tests/io/test_data_io/dataset_move_obs_num.csv
  tests/io/test_data_io/dataset_tsv.tsv
  tests/io/test_data_io_multiple/dataset_non_num_with_missing.csv
  tests/io/test_data_io_multiple/dataset_num_with_missing.csv
  tests/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix h5ad test file path
  tests/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Removed .h5ad from gitignore
  .gitignore
  tests/io/test_data_io/h5ad/dataset8.h5ad
  tests/io/test_data_io/h5ad/dataset9.h5ad
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

finishing lab QC implementation; tests missing
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/laboratory_reference_tables/laposata.tsv
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add tests
  ehrapy/preprocessing/_quality_control.py
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

readd van willebrand
  ehrapy/preprocessing/laboratory_reference_tables/laposata.tsv
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

readd missing measurements
  ehrapy/preprocessing/laboratory_reference_tables/laposata.tsv
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update dependencies including anndata to 0.8.0
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add several datasets and change docstring examples
  ehrapy/data/__init__.py
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add NuclearNormMinimization imputation
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_data_imputation.py
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

improve qc_lab_measurements output & add interleukin-6
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/laboratory_reference_tables/laposata.tsv
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

dependency fixes
  README.md
  docs/_static/css/overwrite.css
  docs/_templates/autosummary/base.md
  docs/_templates/autosummary/class.md
  docs/authors.md
  docs/contributing.md
  docs/index.md
  docs/installation.md
  docs/references.md
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

remove ehrapy import
  docs/conf.py
  docs/contributing.md
Due: black, check-added-large-files, flake8, pyupgrade

readd usage.md
  .gitignore
  docs/usage/usage.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove pydata sphinx theme from docs requirements
  docs/requirements.txt
Due: check-added-large-files

fixed references
  docs/conf.py
  docs/references.md
  docs/references.rst
Due: black, check-added-large-files, flake8, pyupgrade

fixed references
  docs/authors.md
  docs/conf.py
Due: black, check-added-large-files, flake8, pyupgrade

only return copies when asked for
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_quality_control.py
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add miceforest imputation
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_data_imputation.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add miceforest imputation
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_data_imputation.py
  tests/preprocessing/test_data_imputation/test_impute_iris.csv
  tests/preprocessing/test_data_imputation/test_impute_titanic.csv
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add functions
  docs/usage/usage.md
Due: check-added-large-files

fix nox
  ehrapy/plot/_scanpy_pl_api.py
  noxfile.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

install lightgbm Mac
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

add highly_variable_features
  ehrapy/preprocessing/_scanpy_pp_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[#307] Improve KNN with n_neighbours parameter
  ehrapy/preprocessing/_data_imputation.py
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
