Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            args: ["--maxkb=5000"]
            exclude: docs/tutorials/
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
            exclude: |
                (?x)^(
                    .nox|
                    .mypy_cache|
                    .pytest_cache|
                    dist
                )$
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.3.2
      hooks:
          - id: prettier
    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]

nox
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

add anova_glm function
  ehrapy/tools/__init__.py
  ehrapy/tools/_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add test to anova_glm
  tests/tools/test_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Replaced preview image
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

issue #397 "check for neighbors run before UMAP" fixed
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

issue #397 "check for neighbors run before UMAP" fixed (#401)
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

minor refactoring
  ehrapy/tools/_sa.py
  tests/tools/test_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

minor refactoring
  ehrapy/tools/_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Issue #396 solved, test provided
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Issue #396 solved with minor changes, move_to_x now checks whether the columns are already present in X
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

added new logger instance
  ehrapy/logger.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

updated move_to_x() and _update_uns() functions, wrote a test for move_to_x()
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

updated move_to_x() and _update_uns() functions, wrote a test for move_to_x()
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

deleted some duplicates from the new logger instance
  ehrapy/core/meta_information.py
  ehrapy/logger.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

minor fixes in logger
  ehrapy/core/meta_information.py
  ehrapy/logger.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

minor fixes in logger
  ehrapy/logger.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

small fix in the qc_metrics() example
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

small fix in the qc_metrics() example (#407)
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Put logger messages in methods and some minor fixes
  ehrapy/anndata/anndata_ext.py
  ehrapy/data/_dataloader.py
  ehrapy/logger.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix mudata versioning
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Put logger messages in methods and some minor fixes
  ehrapy/anndata/anndata_ext.py
  ehrapy/io/_write.py
  ehrapy/logger.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/_scanpy_pp_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Edited logger messages and made some minor fixes, e.g. mice forest imputation tests are now skipped on MacOS.
  ehrapy/_settings.py
  ehrapy/anndata/anndata_ext.py
  ehrapy/data/_dataloader.py
  ehrapy/logger.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/_scanpy_pp_api.py
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Minor fixes in the logging instance, logging messages appear now on the console, edited LogFormatter()
  ehrapy/_settings.py
  ehrapy/anndata/anndata_ext.py
  ehrapy/logger.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added move_to_x() and move_to_obs() tests that raise ValueError when passed lists with invalid colnames, minor fixes in code.
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix sphinx-gallery temporarily by pinning it
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Fix safety issue
  .github/workflows/run_tests.yml
  ehrapy/tools/nlp/_medcat.py
  ehrapy/tools/nlp/_util.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed move_to_x() method, added delete_from_obs() as separate func, added tests, minor changes in code
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Disable edit button on RTD
  docs/conf.py
Due: black, check-added-large-files, flake8, pyupgrade

Fixed error messages and docs, removed copy parameters from move_to_obs() and move_to_x(), edited tests, minor fixes
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Last minor fixes
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add copy_obs parameter to move_to_obs (#404)
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

nox
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add skeleton for outliers
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_outliers.py
  tests/preprocessing/test_outliers.py
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added missingno plotting functions, updated imports, uploaded previews, issue #271
  docs/_static/docstring_previews/missingno_barplot.png
  docs/_static/docstring_previews/missingno_dendrogram.png
  docs/_static/docstring_previews/missingno_heatmap.png
  docs/_static/docstring_previews/missingno_matrix.png
  ehrapy/plot/__init__.py
  ehrapy/plot/_missingno_pl_api.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added a skeleton for filter_quantiles(), edited the docs
  ehrapy/preprocessing/_outliers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade
