Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            args: ["--maxkb=5000"]
            exclude: docs/tutorials/
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
            exclude: |
                (?x)^(
                    .nox|
                    .mypy_cache|
                    .pytest_cache|
                    dist
                )$
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.3.2
      hooks:
          - id: prettier
    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]

Moving from obs to X and vice versa: update uns
  ehrapy/api/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix #275 GoogleTranslator import without internet
  ehrapy/api/tools/nlp/_translators.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add progressbars to imputations
  ehrapy/api/preprocessing/_data_imputation.py
  ehrapy/api/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add imputation warning
  ehrapy/api/preprocessing/_data_imputation.py
  tests/api/preprocessing/test_data_imputation/test_impute_num.csv
  tests/api/preprocessing/test_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[Feature] Move vars from obs to x and vice versa
  ehrapy/api/anndata_ext.py
  ehrapy/api/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

added _warn_imputation_threshold everywhere
  ehrapy/api/preprocessing/_data_imputation.py
  ehrapy/api/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

added _warn_imputation_threshold everywhere
  ehrapy/api/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add columns_obs_only to DLs
  ehrapy/api/data/_datasets.py
  ehrapy/api/plot/_scanpy_pl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added tests and docs + copy parameter for move_to_obs
  docs/usage/api.rst
  docs/usage/ext/ehrapy.api.anndata_ext.move_to_obs.rst
  docs/usage/ext/ehrapy.api.anndata_ext.move_to_x.rst
  ehrapy/api/anndata_ext.py
  tests/api/io/test_data_io/dataset4.csv
  tests/api/io/test_data_io/dataset5.csv
  tests/api/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix CI
  tests/api/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

improve docstring
  ehrapy/api/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Bump version from 0.1.0 to 0.2.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  ehrapy/__init__.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add list interface to miss forest impute
  ehrapy/api/preprocessing/_data_imputation.py
  poetry.lock
  pyproject.toml
  tests/api/preprocessing/test_imputation.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

improve typing
  ehrapy/api/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add intel sklearn patch
  ehrapy/api/_settings.py
  ehrapy/api/preprocessing/_data_imputation.py
  poetry.lock
  pyproject.toml
  tests/api/preprocessing/test_imputation.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

improve import order
  ehrapy/api/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add heart failure dataloader
  ehrapy/api/data/__init__.py
  ehrapy/api/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

nox
  ehrapy/api/data/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

removed pl. prefix
  docs/_images/docstring_previews/clustermap.png
  docs/_images/docstring_previews/dendrogram.png
  docs/_images/docstring_previews/diffmap.png
  docs/_images/docstring_previews/dotplot.png
  docs/_images/docstring_previews/dpt_groups_pseudotime.png
  docs/_images/docstring_previews/dpt_timeseries.png
  docs/_images/docstring_previews/draw_graph_1.png
  docs/_images/docstring_previews/draw_graph_2.png
  docs/_images/docstring_previews/embedding.png
  docs/_images/docstring_previews/embedding_density.png
  docs/_images/docstring_previews/heatmap.png
  docs/_images/docstring_previews/matrixplot.png
  docs/_images/docstring_previews/paga.png
  docs/_images/docstring_previews/pca.png
  docs/_images/docstring_previews/pca_loadings.png
  docs/_images/docstring_previews/pca_overview_1.png
  docs/_images/docstring_previews/pca_overview_2.png
  docs/_images/docstring_previews/pca_overview_3.png
  docs/_images/docstring_previews/pca_variance_ratio.png
  docs/_images/docstring_previews/rank_features_groups.png
  docs/_images/docstring_previews/rank_features_groups_dotplot.png
  docs/_images/docstring_previews/rank_features_groups_heatmap.png
  docs/_images/docstring_previews/rank_features_groups_matrixplot.png
  docs/_images/docstring_previews/rank_features_groups_stacked_violin.png
  docs/_images/docstring_previews/rank_features_groups_tracksplot.png
  docs/_images/docstring_previews/rank_features_groups_violin_1.png
  docs/_images/docstring_previews/rank_features_groups_violin_2.png
  docs/_images/docstring_previews/rank_features_groups_violin_3.png
  docs/_images/docstring_previews/rank_features_groups_violin_4.png
  docs/_images/docstring_previews/scatter.png
  docs/_images/docstring_previews/stacked_violin.png
  docs/_images/docstring_previews/tracksplot.png
  docs/_images/docstring_previews/tsne_1.png
  docs/_images/docstring_previews/tsne_2.png
  docs/_images/docstring_previews/tsne_3.png
  docs/_images/docstring_previews/umap_1.png
  docs/_images/docstring_previews/umap_2.png
  docs/_images/docstring_previews/umap_3.png
  docs/_images/docstring_previews/violin.png
  ehrapy/api/plot/_scanpy_pl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

dataloader for diabetes dataset
  ehrapy/api/data/__init__.py
  ehrapy/api/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

requsted changes for PR
  ehrapy/api/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

formatted
  ehrapy/api/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

formatting
  ehrapy/api/data/_datasets.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

formatting
  ehrapy/api/plot/_scanpy_pl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

skipping pdf tests when ghoscript is not installed
  ehrapy/api/_util.py
  tests/api/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

typo
  ehrapy/api/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

scikit-learn-intelex is now optional
  ehrapy/api/preprocessing/_data_imputation.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

attempt to fix windows CI
  ehrapy/api/_util.py
  tests/api/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

attempt to fix windows CI 2
  tests/api/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

attempt to fix windows CI 3
  tests/api/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

nox
  tests/api/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix test skip
  tests/api/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

test coverage
  ehrapy/api/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade
