Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Remove sync
  .github/workflows/sync_project.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

adapt README
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix #433
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

poetry update
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

added logic to combat wrong pvals
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added examples to anndata_ext.py
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added examples to meta_information.py
  ehrapy/core/meta_information.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

to plural
  ehrapy/anndata/anndata_ext.py
  ehrapy/core/meta_information.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added last example to anndata_ext.py
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Modified docstrings
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  ehrapy/io/_write.py
  ehrapy/plot/_missingno_pl_api.py
  ehrapy/plot/_qc.py
  ehrapy/plot/_scanpy_pl_api.py
  ehrapy/plot/_survival_analysis.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_outliers.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/tools/_sa.py
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Improve dotplot colorbar title
  Untitled.ipynb
  ehrapy/plot/_scanpy_pl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Improve dotplot colorbar title
  Untitled.ipynb
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Bump version from 0.4.0 to 0.5.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  ehrapy/__init__.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

flake8 fix
  docs/contributing.md
  ehrapy/anndata/anndata_ext.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplify dependencies
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

100% progressbar fix
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Improve types
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix log normalization offset
  ehrapy/preprocessing/_normalization.py
  tests/preprocessing/test_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Reword ValueError
  ehrapy/preprocessing/_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix offset
  ehrapy/preprocessing/_normalization.py
  tests/preprocessing/test_normalization.py
  tests/tools/nlp/test_translator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ehrapy/preprocessing/_encode.py
  ree.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ree.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Run rank_features_groups() on categorical data
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Adjust p-values
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Change string symbols
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add dummy pts and logfc for categorical features
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Don't add empty pts when pts=False
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Sort features by adjusted p-value
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Don't set groupby to .obs
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Reformat code for updating .uns
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Always reset `key_added` in .uns
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Reformat evaluation of categorical features
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove rewriting "params" key
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Check if feature is groupby w "ehrapycat_" prefix
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Document return for _evaluate_categorical_features
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add documentation for _save_rank_features_result
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Update version
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Remove MuData support
  ehrapy/anndata/anndata_ext.py
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  ehrapy/preprocessing/_encode.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
