Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

update file
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[FEATURE] Display QC metrics
  docs/usage/api.rst
  docs/usage/preprocessing/ehrapy.preprocessing.display_qc_metrics.rst
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix usage link
  README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

improve encoding error message
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

changed thyroid dataloader
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix formatting
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

PR feedback + updated qc API
  docs/usage/api.rst
  docs/usage/plot/ehrapy.plot.qc_metrics.rst
  docs/usage/preprocessing/ehrapy.preprocessing.calculate_qc_metrics.rst
  docs/usage/preprocessing/ehrapy.preprocessing.display_qc_metrics.rst
  docs/usage/preprocessing/ehrapy.preprocessing.qc_metrics.rst
  ehrapy/plot/__init__.py
  ehrapy/plot/ehrapy_plot/plot_qc.py
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix CI
  ehrapy/plot/ehrapy_plot/plot_qc.py
  ehrapy/preprocessing/_data_imputation.py
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[FEATURE] #314: Autodetect binary (0,1) columns
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Formatting
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add datasets to docs
  docs/usage/api.rst
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

added support to append var to anndata_to_df
  ehrapy/anndata/anndata_ext.py
  ehrapy/plot/ehrapy_plot/plot_qc.py
  tests/anndata/test_anndata_ext.py
  tests/tools/nlp/test_translator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add support for layers for anndata_to_df
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix rank_features_groups_matrixplot key
  ehrapy/plot/_scanpy_pl_api.py
  test.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

remove test.py
  test.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add encoded parameter to all new datasets amd fix import
  ehrapy/data/__init__.py
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

drop python 3.7 support and add 3.10 support
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

cookietemple sync
  .cookietemple.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  .github/workflows/release_drafter.yml
  .github/workflows/run_cookietemple_lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
  .isort.cfg
  .pre-commit-config.yaml
  LICENSE
  cookietemple.cfg
  docs/conf.py
  docs/contributing.rst
  docs/index.rst
  ehrapy/__init__.py
  ehrapy/__main__.py
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix #331: Improved autodetect docs
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix failing CI
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

CI reversed
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

[FIX] Write .h5ad files
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/encoding/_encode.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix failing only_numerical values detection while reading
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

[FIX] #255: Encode mutates input adata object
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix .h5ad writing for boolean values
  ehrapy/anndata/anndata_ext.py
  ehrapy/io/_read.py
  ehrapy/preprocessing/encoding/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix type casting for move columns_to_obs
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix dtype of X when reading fom cache
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Feature: Support for writing unencoded AnnData objects to .h5ad
  ehrapy/io/_read.py
  ehrapy/io/_write.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add fast str matching
  docs/usage/api.rst
  docs/usage/data/ehrapy.data.breast_tissue.rst
  docs/usage/data/ehrapy.data.cervical_cancer_risk_factors.rst
  docs/usage/data/ehrapy.data.dermatology.rst
  docs/usage/data/ehrapy.data.echocardiogram.rst
  docs/usage/data/ehrapy.data.hepatitis.rst
  docs/usage/data/ehrapy.data.statlog_heart.rst
  docs/usage/data/ehrapy.data.thyroid.rst
  docs/usage/preprocessing/ehrapy.preprocessing.qc_lab_measurements.rst
  ehrapy/core/__init__.py
  ehrapy/core/str_matching.py
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/laboratory_reference_tables/laposata.tsv
  poetry.lock
  tests/core/__init__.py
  tests/core/test_str_matching.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added tests, updated docs, updated flake8-bandit version
  ehrapy/anndata/anndata_ext.py
  ehrapy/io/_read.py
  ehrapy/io/_write.py
  ehrapy/preprocessing/encoding/_encode.py
  poetry.lock
  pyproject.toml
  tests/anndata/test_anndata_ext.py
  tests/io/test_data_io/dataset6.csv
  tests/io/test_read.py
  tests/preprocessing/test_encode.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

potential docs fix
  docs/requirements.txt
Due: check-added-large-files

temporarily fix tests
  tests/tools/nlp/test_translator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

PR feedback
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

refactoring
  ehrapy/__init__.py
  ehrapy/core/meta_information.py
  ehrapy/core/tool_available.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/tools/nlp/_medcat.py
  ehrapy/tools/nlp/_translators.py
  tests/core/test_str_matching.py
  tests/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
