Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Black fix
  tests/preprocessing/test_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Removed unused files
  causal_model.png
  dowhy.ipynb
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Initial commit
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Regex fix
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

potential solution
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

reverted if-condition
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added tests and minor fixes
  ehrapy/anndata/anndata_ext.py
  tests/anndata/test_anndata_ext.py
  tests/preprocessing/test_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

CI fix
  tests/preprocessing/test_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

CI fix #2
  tests/preprocessing/test_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

CI fix #3
  tests/preprocessing/test_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Warning fixed
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

change format
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add stable dowhy 0.10
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Fix flake8
  ehrapy/tools/feature_ranking/_rank_features_groups.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added method name sanitation; changed pl.causal_inference syntax
  ehrapy/tools/causal/_dowhy.py
  tests/tools/causal/test_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Ensured that treatment and outcome name are present
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Updated plotting function to dowhy=0.10
  ehrapy/plot/causal_inference/_dowhy.py
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Refactoring
  .pre-commit-config.yaml
  ehrapy/tools/causal/_dowhy.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Python 3.11 support
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Bump version from 0.5.0 to 0.6.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  ehrapy/__init__.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Update README.md
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Use fixtures for preprocessing tests
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_expand_measurements.py
  tests/preprocessing/test_encode.py
  tests/preprocessing/test_expand_measurements.py
  tests/preprocessing/test_highly_variable_features.py
  tests/preprocessing/test_imputation.py
  tests/preprocessing/test_normalization.py
  tests/preprocessing/test_outliers.py
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add first implementation
  ehrapy/preprocessing/_expand_measurements.py
  ehrapy/preprocessing/_quality_control.py
  ree.py
  tests/preprocessing/test_expand_measurements.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove trash
  ree.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add more tests
  ree.py
  tests/preprocessing/test_expand_measurements.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove ree
  ree.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Switch to scverse template
  .bandit.yml
  .cookietemple.yml
  .darglint
  .flake8
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/build_package.yml
  .github/workflows/main_master_branch_protection.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_package.yml
  .github/workflows/release.yml
  .github/workflows/release_drafter.yml
  .github/workflows/run_tests.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CODE_OF_CONDUCT.md
  Dockerfile
  Makefile
  cookietemple.cfg
  docs/contributing.md
  docs/references.bib
  docs/references.md
  docs/references.rst
  makefiles/Linux.mk
  makefiles/Windows.mk
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

submodule
  .gitmodules
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove medcat
  .readthedocs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

remove medcat
  .github/workflows/run_notebooks.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Refactor encoding
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/_encode.py
  pyproject.toml
  tests/anndata/test_anndata_ext.py
  tests/preprocessing/test_encode.py
  tests/preprocessing/test_normalization.py
  tests/preprocessing/test_quality_control.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ehrapy/anndata/anndata_ext.py
  ehrapy/logging.py
  ehrapy/preprocessing/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Address review
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/_encode.py
  tests/anndata/test_anndata_ext.py
  tests/preprocessing/test_encode.py
  tests/preprocessing/test_normalization.py
  tests/preprocessing/test_quality_control.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
