Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            args: ["--maxkb=5000"]
            exclude: docs/tutorials/
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
            exclude: |
                (?x)^(
                    .nox|
                    .mypy_cache|
                    .pytest_cache|
                    dist
                )$
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.3.2
      hooks:
          - id: prettier
    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]

Rename method and categorical_method for clarity
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rename corr_method to correction_method
  ehrapy/tools/_datatypes.py
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix code style by black
  ehrapy/tools/_scanpy_tl_api.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Move rank_features_groups code to separate folder
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/feature_ranking/__init__.py
  ehrapy/tools/feature_ranking/_rank_features_groups.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix code style with black
  ehrapy/tools/feature_ranking/_rank_features_groups.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ehrapy/tools/_method_options.py
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/feature_ranking/_rank_features_groups.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix build
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Fixes issue #550
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

isort fix
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rollback
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

create a Path object and resolve
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

next try
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

rollback
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplify download code
  ehrapy/data/_dataloader.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplify download code #2
  ehrapy/data/_dataloader.py
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Switch to dowhy git version
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

submodule update
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix FHIR
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test windows
  .github/workflows/test_windows_stuff.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add test windows
  ehrapy/data/_dataloader.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test windows
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix windows mimic_2
  .github/workflows/test_windows_stuff.yml
  ehrapy/data/_dataloader.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix windows mimic_2 and simplify download
  docs/conf.py
  ehrapy/data/_dataloader.py
  ehrapy/io/_read.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

solves "non_numericlal_columns" being empty in mimic_2
  ehrapy/preprocessing/_encode.py
  ehrapy/tools/feature_ranking/_rank_features_groups.py
  tests/preprocessing/test_encode.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add causal inference to docs
  docs/usage/usage.md
  dowhy.ipynb
  ehrapy/plot/__init__.py
  ehrapy/plot/causal_inference/__init__.py
  ehrapy/plot/causal_inference/_dowhy.py
  ehrapy/tools/__init__.py
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade
