Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Bump version from 0.2.0 to 0.3.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  ehrapy/__init__.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed docstrings tools and plots
  ehrapy/plot/_scanpy_pl_api.py
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

tools docstrings
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix #384
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix #383
  ehrapy/plot/_scanpy_pl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add support for reading multiple files into Pandas DFs & adapted MIMIC-III demo
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  tests/io/test_read.py
  tests/tools/nlp/test_hpo.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

PR feedback
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  ehrapy/tools/_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

warning instead of error when passing columns_obs_only & x_only for return_dfs
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix cache error messages
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

tutorials update
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add medcat installation
  .github/workflows/run_notebooks.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

refactoring
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add survival analysis to vignettes
  docs/_static/tutorials/survival.png
  docs/conf.py
  docs/tutorials/index.md
Due: black, check-added-large-files, flake8, pyupgrade

fix docs CI
  .github/workflows/publish_docs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

next attempt
  .github/workflows/publish_docs.yml
  docs/conf.py
  docs/usage/usage.md
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

test import
  .github/workflows/publish_docs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

add explicit ehrapy install
  .github/workflows/publish_docs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix docs CI (#392)
  .github/workflows/publish_docs.yml
  docs/conf.py
  docs/usage/usage.md
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update & fix #394
  ehrapy/preprocessing/_data_imputation.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix #389
  ehrapy/preprocessing/_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix #393
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

refactor encoding
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  ehrapy/io/_write.py
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_encode.py
  ehrapy/preprocessing/encoding/__init__.py
  tests/preprocessing/test_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

update knn default
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix CI
  ehrapy/core/meta_information.py
  tests/tools/nlp/test_translator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

disable MacOS CI
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
