Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Fixes issue #395
  ehrapy/preprocessing/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixes issue #395 (#458)
  ehrapy/preprocessing/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Removed a few test warnings
  .flake8
  ehrapy/preprocessing/_encode.py
  tests/preprocessing/test_normalization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

nox
  ehrapy/preprocessing/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Move mypy to pre-commit
  .github/workflows/run_tests.yml
  .pre-commit-config.yaml
  ehrapy/anndata/anndata_ext.py
  ehrapy/core/_tool_available.py
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplify read_h5ad
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add fhir to docs
  docs/usage/usage.md
Due: check-added-large-files

Fix #465
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix formatting of issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add scverse config
  .github/ISSUE_TEMPLATE/config.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix issue template format
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_question.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Remove prettierignore
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Address feedback.
  ehrapy/io/_read.py
  tests/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

initial commit
  ehrapy/tools/__init__.py
  ehrapy/tools/causal/__init__.py
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix move to X str
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplyify code
  ehrapy/anndata/anndata_ext.py
  ehrapy/plot/_survival_analysis.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/tools/nlp/_translators.py
  tests/anndata/test_anndata_ext.py
  tests/io/test_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ehrapy/anndata/anndata_ext.py
  ehrapy/data/_dataloader.py
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  ehrapy/io/_utility_io.py
  ehrapy/plot/_missingno_pl_api.py
  ehrapy/plot/_qc.py
  ehrapy/plot/_survival_analysis.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_highly_variable_features.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ehrapy/io/_read.py
  ehrapy/preprocessing/_highly_variable_features.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_outliers.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/preprocessing/_scanpy_pp_api.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add mimic-2 preprocessed
  ehrapy/data/_datasets.py
  ehrapy/io/_write.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add mimic-2 preprocessed to docs
  docs/usage/usage.md
  ehrapy/data/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add scget functions
  docs/usage/usage.md
  ehrapy/anndata/__init__.py
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Pin Pandas
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Changed the hue of grey
  ehrapy/logging.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add a title parameter
  ehrapy/plot/_survival_analysis.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix quality control
  .DS_Store
  ehrapy/preprocessing/_quality_control.py
  issue_reproduce.ipynb
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added examples to anndata_ext
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Delete issue_reproduce.ipynb
  issue_reproduce.ipynb
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update quality control function
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove .DS_Store
  .DS_Store
  .gitignore
  docs/_static/docstring_previews/.DS_Store
  ehrapy/preprocessing/_encode.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix version pins
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Added examples to other files
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
  ehrapy/io/_write.py
  ehrapy/plot/_qc.py
  ehrapy/plot/_scanpy_pl_api.py
  ehrapy/plot/_survival_analysis.py
  ehrapy/preprocessing/_normalization.py
  ehrapy/preprocessing/_outliers.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Update _write.py
  ehrapy/io/_write.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

mvp
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

missed parts of code
  ehrapy/Untitled-1.ipynb
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Removed ipynb
  ehrapy/Untitled-1.ipynb
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Error message and minor fixes, issue #447
  ehrapy/preprocessing/_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

improved, tests incoming
  ehrapy/tools/causal/_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
