Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Fixed round of encoded floats
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add test to highly_variable_features
  docs/usage/usage.md
  pyproject.toml
  tests/preprocessing/test_scanpy_pp_api.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

use ordinal encoding only on non-numerical data
  ehrapy/preprocessing/_data_imputation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix windows CI
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix windows CI
  tests/preprocessing/test_scanpy_pp_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Delete poetry.lock
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Revert "Delete poetry.lock"
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix windows CI
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix windows CI
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_scanpy_pp_api.py
  ehrapy/preprocessing/highly_variable_features.py
  tests/preprocessing/test_highly_variable_features.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix windows CI
  .github/workflows/run_tests.yml
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

Fix windows CI
  .github/workflows/run_tests.yml
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix windows CI
  .github/workflows/run_tests.yml
  pyproject.toml
  tests/preprocessing/test_imputation.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fix pyproject.toml
  pyproject.toml
  tests/preprocessing/test_highly_variable_features.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

remove windows testing
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

update dependencies & fix session_info
  ehrapy/core/meta_information.py
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_highly_variable_features.py
  ehrapy_data/dermatology.csv
  poetry.lock
  pyproject.toml
  tests/preprocessing/test_highly_variable_features.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

MedCat [#101]: extract biomedical concepts/entities from (free) text
  ehrapy/tools/__init__.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Implemented function to flatten annotated results dicts
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Updated annotate_text to return a prepared dataframe
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

remove ehrapy_data
  .gitignore
  ehrapy_data/dermatology.csv
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Plot top entities, started overview, added new attribute to MedCAT
  ehrapy/plot/__init__.py
  ehrapy/plot/plot_medcat.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Refactored internal annotation result representation
  ehrapy/plot/plot_medcat.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added basic overview table via nice rich table, removed duplicates
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added add binary column from extracted text to anndata + sort free text data
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Formatting and nox
  ehrapy/plot/__init__.py
  ehrapy/plot/plot_medcat.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add functions related to survival analysis
  ehrapy/tools/__init__.py
  ehrapy/tools/sa/ols.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

PR feedback + docs fix
  docs/_templates/autosummary/base.md
  docs/_templates/autosummary/class.md
  docs/_templates/autosummary/class.rst
  docs/_templates/class_no_inherited.rst
  docs/installation.md
  docs/usage/usage.md
  ehrapy/tools/__init__.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added freetext umap plotting and PR feedback
  ehrapy/plot/_scanpy_pl_api.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

add heart disease dataset
  ehrapy/data/__init__.py
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Nox
  docs/usage/usage.md
  ehrapy/plot/_scanpy_pl_api.py
  ehrapy/tools/__init__.py
  ehrapy/tools/nlp/_medcat.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
