Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            args: ["--maxkb=5000"]
            exclude: docs/tutorials/
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
            exclude: |
                (?x)^(
                    .nox|
                    .mypy_cache|
                    .pytest_cache|
                    dist
                )$
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.3.2
      hooks:
          - id: prettier
    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]

Add lightgbm installation instructions
  docs/installation.md
Due: check-added-large-files

Remove submodule
  .readthedocs.yml
  docs/conf.py
  tests/tools/nlp/test_hpo.py
  tests/tools/nlp/test_medcat.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove HPO
  docs/usage/usage.md
  ehrapy/tools/__init__.py
  ehrapy/tools/nlp/_hpo.py
  tests/tools/nlp/test_hpo.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test for _adjust_pvalues()
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test for _sort_features
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplify dependencies
  ehrapy/__init__.py
  ehrapy/preprocessing/_encode.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Simplify dependencies
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Add new Vignettes
  docs/_static/tutorials/causal_inference.png
  docs/_static/tutorials/ontology.png
  docs/conf.py
  docs/tutorials/index.md
Due: black, check-added-large-files, flake8, pyupgrade

Fix test dataset call
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Move utils and datatypes to separate files
  ehrapy/tools/_datatypes.py
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/_utils.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix typo: method -> corr_method
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Check that every value of array is true
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Compare p-values by group
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Copy pvals to pvals_adj
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Copy pvals to pvals_adj instead of assignment
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Convert dataframe key to list to prevent error
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Convert dataframe key to list to prevent error
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test_save_rank_features_result
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Always return tuple
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add examples to _get_groups_order
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix typo: remove bracket
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test_get_groups_order
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove a helper copy-pasted code
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test_evaluate_categorical_features
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add TestRankFeaturesGroups and test with real data
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test for only continuous features
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Make sure that added keys are always recarrays
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test for only categorical features in adata
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Reformat DF conversion for better readability
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Test that ehrapycat_day_icu_intime is in result
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Don't save index when converting DF to records
  ehrapy/tools/_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix DF conversion to records
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Reformat code with nox
  ehrapy/tools/_datatypes.py
  ehrapy/tools/_scanpy_tl_api.py
  ehrapy/tools/_utils.py
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Updated toml
  ehrapy/tools/__init__.py
  ehrapy/tools/causal/_dowhy.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix poetry environment; pin Numba
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Build package with 3.10
  .github/workflows/build_package.yml
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

Move comments higher for clarity
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rename corr_method to correction_method
  ehrapy/tools/_scanpy_tl_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix typos in a comment
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rename genes to features
  tests/tools/test_features_ranking.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade
