Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system
  args:
  - --maxkb=5000

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

discuss next steps with Lukas
  ehrapy/tools/causal/_dowhy.py
  tests/tools/causal/test_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

pre-commit + add dowhy to dependencies
  ehrapy/tools/__init__.py
  ehrapy/tools/causal/_dowhy.py
  poetry.lock
  pyproject.toml
  tests/tools/causal/test_dowhy.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added a small test
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

black fix
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

pre-commi
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added plots, more control over output/fit
  ehrapy/tools/__init__.py
  ehrapy/tools/causal/_dowhy.py
  tests/tools/causal/test_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix pandas 2.x compatibility
  ehrapy/anndata/anndata_ext.py
  ehrapy/preprocessing/_encode.py
  poetry.lock
  pyproject.toml
  tests/anndata/test_anndata_ext.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Remove debug print
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Initial commit
  ehrapy/data/_dataloader.py
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed tests
  ehrapy/tools/causal/_dowhy.py
  tests/tools/causal/test_dowhy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

fixed version
  ehrapy/tools/causal/_dowhy.py
  poetry.lock
  pyproject.toml
  tests/tools/causal/test_dowhy.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rollback
  ehrapy/data/_dataloader.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Typed KMF
  ehrapy/tools/_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add test_kmf_logrank
  docs/usage/usage.md
  ehrapy/anndata/__init__.py
  ehrapy/tools/__init__.py
  ehrapy/tools/_sa.py
  poetry.lock
  pyproject.toml
  tests/tools/nlp/test_hpo.py
  tests/tools/test_sa.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

First batch docstring improvements
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/tools/_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

More docstring improvements
  ehrapy/preprocessing/_data_imputation.py
  tests/preprocessing/test_imputation.py
  tests/tools/test_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Refactoring
  ehrapy/plot/_survival_analysis.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Possible solution
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rollback2
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix a few plots in docs
  ehrapy/anndata/anndata_ext.py
  ehrapy/plot/_survival_analysis.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

docstrings
  ehrapy/__init__.py
  ehrapy/anndata/anndata_ext.py
  ehrapy/core/_tool_available.py
  ehrapy/core/meta_information.py
  ehrapy/plot/_survival_analysis.py
  tests/tools/test_sa.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

2nd try
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

3rd try
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Rollback3
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Possible solution2
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Black fix
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Older FHIR version
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Added comments, fixed docstrings
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed docstrings and the comment
  ehrapy/data/_datasets.py
  ehrapy/io/_read.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fixed docstrings and init
  ehrapy/data/__init__.py
  ehrapy/data/_datasets.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Allow Python 3.11
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

Allow Python 3.11 nox
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Attempt to fix CI
  .github/workflows/run_notebooks.yml
  .github/workflows/run_tests.yml
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Attempt to fix CI
  .github/workflows/run_notebooks.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: docs/tutorials/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$, but not: (?x)^(
    .nox|
    .mypy_cache|
    .pytest_cache|
    dist
)$

  trailing-whitespace: any file but: docs/
  pyupgrade: any of: \.py$
