Repository theislab/ehrapy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            args: ["--maxkb=5000"]
            exclude: docs/tutorials/
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
            exclude: |
                (?x)^(
                    .nox|
                    .mypy_cache|
                    .pytest_cache|
                    dist
                )$
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.3.2
      hooks:
          - id: prettier
    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]

Readd tabulate
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Remove PDF support (#430)
  .github/workflows/run_tests.yml
  docs/usage/usage.md
  ehrapy/io/__init__.py
  ehrapy/io/_read.py
  ehrapy/io/_utility_io.py
  poetry.lock
  pyproject.toml
  tests/io/test_read.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix sphinx-gallery for RTD
  docs/requirements.txt
Due: check-added-large-files

Address review
  ehrapy/preprocessing/_outliers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add winsorize, clip quantiles and filter quantiles (#418)
  docs/usage/usage.md
  ehrapy/preprocessing/__init__.py
  ehrapy/preprocessing/_outliers.py
  tests/preprocessing/test_outliers.py
  tests/preprocessing/test_quality_control.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Fix typing
  ehrapy/preprocessing/_outliers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

KeyError fix issue #423 (#428)
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Bump version from 0.3.0 to 0.4.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  ehrapy/__init__.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

deploy: e61e8cdf9a10dbc3519588c225c4d4c649d3ff32
  _static/documentation_options.js
  objects.inv
  tutorials/notebooks/diabetes_130.html
  tutorials/notebooks/ehrapy_introduction.html
  tutorials/notebooks/medcat.html
  tutorials/notebooks/mimic_2_fate.html
  tutorials/notebooks/mimic_2_introduction.html
  tutorials/notebooks/mimic_2_survival_analysis.html
  tutorials/notebooks/mimic_3_demo.html
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add python-levelstein to dependencies
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

poetry update
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Pin numba
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_encode.py
  ehrapy/tools/nlp/_translators.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add thefuzz (#434)
  ehrapy/__init__.py
  ehrapy/core/_meta_information.py
  ehrapy/core/_tool_available.py
  ehrapy/core/str_matching.py
  ehrapy/preprocessing/_data_imputation.py
  ehrapy/preprocessing/_quality_control.py
  ehrapy/tools/__init__.py
  ehrapy/tools/nlp/_medcat.py
  poetry.lock
  pyproject.toml
  tests/core/test_str_matching.py
  tests/data/test_data/dataset_1.csv
  tests/data/test_data/dataset_2.tsv
  tests/data/test_data/dataset_3.tsv
  tests/data/test_dataloader.py
  tests/data/test_datasets.py
  tests/io/test_read.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Reenable macos tests
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix MacOS CI (#435)
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add docs group
  .github/workflows/publish_docs.yml
  .readthedocs.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

Fix docs WF
  .github/workflows/publish_docs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix docs WF
  .github/workflows/publish_docs.yml
  .readthedocs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add docs group (#437)
  .github/workflows/publish_docs.yml
  .readthedocs.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

add dowhy
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Disable github checks
  codecov.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Simplify move_to_obs
  codecov.yml
  ehrapy/anndata/anndata_ext.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix isort
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Poetry update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add new tutorial & switch to python 3.10
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/run_tests.yml
  docs/_static/tutorials/machine_learning.png
  docs/conf.py
  docs/tutorials/index.md
  ehrapy/preprocessing/_data_imputation.py
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Add new tutorial & switch to python 3.10
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add new tutorial & switch to python 3.10 (#454)
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
  docs/_static/tutorials/machine_learning.png
  docs/conf.py
  docs/tutorials/index.md
  ehrapy/preprocessing/_data_imputation.py
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, trailing-whitespace, pyupgrade

Update preview figure
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Added hi-res workflow figure
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Added hi-res workflow
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace
